@model IEnumerable<WebApplication.Models.User>

@{
    ViewBag.Title = "UserList";
}

<p>
    @Html.ActionLink("AddUser", "Add-User")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            <a href="../Admin/Index/@item.Id">Edit</a>
        </td>
    </tr>
}

</table>
